* {
  font-family: 'Prata', serif;
}

.letters {
  margin-right: 30px;
}
.hero-body {
  background-image: url("./images/main_page.jpeg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

#home {
  border: solid 2px white;
  background-color: rgba(5,4,2,0.4);
  
}

.title {
  color: white;
  size: bold;

}
.subtitle {
  color: white;
  size: bold;

}

.navbar {
  height: 80px;
}

.container {
  justify-content: space-around;
}

.card-game {
  display: flex;
 
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.column2 {
  display: flex;
  align-items: center;
  margin-left: 50px;
} 

.question {
  margin-bottom: 35px;
  font-size: 28;
}

.card-title {
  font-size: 30;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.image_game {
  background-image: url("./images/background_game.png");
  background-size: cover;

}